<div class="container" *ngIf="appLang === 'en'">
  <div class="row about-people">
    <div class="col-md-12 col-sm-6 col-md-6">
      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>Eri Kodama</h4>
              <small class="location">
                <cite title="San Francisco, USA">Tokyo, Japan
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">Interests</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>Singing</span></li>
                <li class="interest-item"><span>Taste delicious foods</span></li>
                <li class="interest-item"><span>Taiwan</span></li>
                <li class="interest-item"><span>Taiwan Mandarin</span></li>
                <li class="interest-item"><span>Machiko</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">Contact</h5>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">Facebook</span>
                <a class="link" href="https://www.facebook.com/eri.kodama.900" target="_blank">Eri Kodama</a>
              </div>
              <div class="instgram">
                <span class="btn btn-outline-secondary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">Instgram</span>
                <a class="link" href="https://www.instagram.com/huililovetaiwan/" target="_blank">Huili</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>Alan Chan</h4>
              <small class="location">
                <cite title="San Francisco, USA">Tokyo, Japan
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">Interests</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>Mathematica</span></li>
                <li class="interest-item"><span>Physics</span></li>
                <li class="interest-item"><span>Computer Science</span></li>
                <li class="interest-item"><span>Programming</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">Contact</h5>
              <div class="email">
                <span class="btn btn-outline-info btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">Email</span>
                <a class="link">keigohigashino@hotmail.com</a>
              </div>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">Facebook</span>
                <a class="link" href="https://www.facebook.com/chenhao.chan/" target="_blank">Chan Chen Hao</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

    </div>
    <!-- col-md-12 col-sm-6 col-md-6 -->
  </div>
  <!-- about-people -->
</div>

<!--------------------------- ja --------------------------->
<div class="container" *ngIf="appLang === 'ja'">
  <div class="row about-people">
    <div class="col-md-12 col-sm-6 col-md-6">
      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>児玉惠理</h4>
              <small class="location">
                <cite title="日本東京都">日本東京都
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">趣味</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>カラオケ</span></li>
                <li class="interest-item"><span>美食</span></li>
                <li class="interest-item"><span>台湾華語</span></li>
                <li class="interest-item"><span>中国語</span></li>
                <li class="interest-item"><span>Machiko</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">コンタクト</h5>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="[isMobile ? 'mobile' : '', appLang]">フェースブック</span>
                <a class="link" href="https://www.facebook.com/eri.kodama.900" target="_blank">Eri Kodama</a>
              </div>
              <div class="instgram">
                <span class="btn btn-outline-secondary btn-sm"
                      [ngClass]="[isMobile ? 'mobile' : '', appLang]">インスタグラム</span>
                <a class="link" href="https://www.instagram.com/huililovetaiwan/" target="_blank">Huili</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>Alan Chan</h4>
              <small class="location">
                <cite title="日本東京都">日本東京都
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">趣味</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>数学</span></li>
                <li class="interest-item"><span>物理</span></li>
                <li class="interest-item"><span>コンピューター科学</span></li>
                <li class="interest-item"><span>プログラミング</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">コンタクト</h5>
              <div class="email">
                <span class="btn btn-outline-info btn-sm"
                      [ngClass]="[isMobile ? 'mobile' : '', appLang]">Eメール</span>
                <a class="link">keigohigashino@hotmail.com</a>
              </div>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="[isMobile ? 'mobile' : '', appLang]">フェースブック</span>
                <a class="link" href="https://www.facebook.com/chenhao.chan/" target="_blank">Chan Chen Hao</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

    </div>
    <!-- col-md-12 col-sm-6 col-md-6 -->
  </div>
  <!-- about-people -->
</div>

<!--------------------------- zh_hant --------------------------->
<div class="container" *ngIf="appLang === 'zh_hant'">
  <div class="row about-people">
    <div class="col-md-12 col-sm-6 col-md-6">
      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>Huili</h4>
              <small class="location">
                <cite title="日本東京">日本東京
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">興趣</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>唱歌</span></li>
                <li class="interest-item"><span>品嘗美食</span></li>
                <li class="interest-item"><span>臺灣</span></li>
                <li class="interest-item"><span>中文</span></li>
                <li class="interest-item"><span>ㄇㄚˊ幾兔</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">聯絡資訊</h5>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">臉書</span>
                <a class="link" href="https://www.facebook.com/eri.kodama.900" target="_blank">Eri Kodama</a>
              </div>
              <div class="instgram">
                <span class="btn btn-outline-secondary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">IG</span>
                <a class="link" href="https://www.instagram.com/huililovetaiwan/" target="_blank">Huili</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

      <div class="about-person">
        <div class="row">
          <div class="col-xs-1">
              <img src="assets/images/common/default-face.svg" alt="" class="img-rounded img-responsive selfie" />
          </div>
          <div class="col-sm-4 col-md-6 person-info">
            <div class="basic-info-group">
              <h4>Alan Chan</h4>
              <small class="location">
                <cite title="日本東京">日本東京
                  <i class="glyphicon glyphicon-map-marker"></i>
                </cite>
              </small>
            </div>

            <div class="interest-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">興趣</h5>
              <ul class="interest-menu">
                <li class="interest-item"><span>數學</span></li>
                <li class="interest-item"><span>物理</span></li>
                <li class="interest-item"><span>電腦科学</span></li>
                <li class="interest-item"><span>程式語言</span></li>
              </ul>
            </div>
            
            <div class="contact-group" [ngClass]="{'pc': isMobile == false}">
              <h5 class="title">聯絡資訊</h5>
              <div class="email">
                <span class="btn btn-outline-info btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">電子郵件</span>
                <a class="link">keigohigashino@hotmail.com</a>
              </div>
              <div class="facebook">
                <span class="btn btn-outline-primary btn-sm"
                      [ngClass]="{'mobile': isMobile == true}">臉書</span>
                <a class="link" href="https://www.facebook.com/chenhao.chan/" target="_blank">Chan Chen Hao</a>
              </div>
            </div>
            <!-- contact-group -->
          </div>
          <!-- col-sm-4 col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- about-person -->

    </div>
    <!-- col-md-12 col-sm-6 col-md-6 -->
  </div>
  <!-- about-people -->
</div>