$commonImgPath: "../../assets/images/common";

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.about-people {
    margin-top: 50px;
}

.about-person {
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url($commonImgPath + "/nature-style1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.person-info {
    div {
        &:last-child {
            margin-bottom: 20px;
        }
    }
}

.selfie {
    width: 250px;
    height: 250px;
    margin-left: 12.5px;
}

.location {
    margin-bottom: 10px;
}

.contact-group {
    div {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            width: 15%;

            &.ja {
                width: 20%;
            }

            &.mobile {
                width: 30%;
            }
        }

        a {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

li {
    &.interest-item {
        list-style: url($commonImgPath + "/label.svg");
    }

    span {
        position: relative;
        top: -6px;
    }
}

.interest-group {
    &.pc {
        width: 300px;
        float: left;
    }
}

.contact-group {
    &.pc {
        width: 700px;
    }
}