<div class="container app-container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <!-- <a class="text-muted blog-subscribe" routerLinkActive="active" routerLink="subscribe"></a> -->
        <a class="text-muted blog-about" routerLinkActive="active" routerLink="about">
          {{ 'NAVBAR.ABOUT' | translate }}
        </a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" routerLink="/">C. BloG K.</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <!-- <a class="text-muted blog-search" aria-label="Search"></a> -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
                  [ngClass]="{'btn-sm': isMobile == true}"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            {{ 'NAVBAR.LANGUAGE' | translate }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="selectedLang">
            <a class="dropdown-item" (click)="switchLanguage('ja')">{{ 'DROPDOWN.LANGUAGES.JAPANESE' | translate }}</a>
            <a class="dropdown-item" (click)="switchLanguage('zh_hant')">{{ 'DROPDOWN.LANGUAGES.ZH_HANT' | translate }}</a>
            <a class="dropdown-item" (click)="switchLanguage('en')">{{ 'DROPDOWN.LANGUAGES.ENGLISH' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted blog-catagory-travel" routerLinkActive="active" routerLink="travel">
        {{ 'NAVBAR.TRAVEL' | translate }}
      </a>
      <a class="p-2 text-muted blog-catagory-learning" [ngClass]="selectedLang" routerLinkActive="active" routerLink="learning">
        {{ 'NAVBAR.LEARNING' | translate }}
      </a>
    </nav>
  </div>
  <!-- navigation -->

  <router-outlet></router-outlet>
  <!-- component -->

</div>
<!-- container -->

<footer class="blog-footer">
  <p class="copyright">&copy; 2020-</p>
</footer>