$commonImgPath: "../assets/images/common/";

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
}

.display-4 {
    font-size: 2.5rem;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

/*
* Blog posts
*/
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
* Footer
*/
.blog-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 15px;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-catagory-language {
    position: absolute;

    &.en {
        &.active {
            left: 70px;
        }

        left: 80px;
    }

    &.ja {
        &.active {
            left: 40px;
        }

        left: 50px;
    }

    &.zh_hant {
        &.active {
            left: 60px;
        }

        left: 70px;
    }
}

.blog-about {
    position: absolute;
    left: 110px;
}

.blog-search {
    position: absolute;
    right: 55px;
    cursor: pointer;

    &::before {
        content: url($commonImgPath + 'search.svg');
    }
}

#language-dropdown-menu {
    &.show {
        display: block;
    }
}

.blog-translate {
    cursor: pointer;

    &::before {
        content: url($commonImgPath + 'global_translate.svg');
    }
}

.dropdown-menu {
    width: 10px;
    padding-left: 5px;
    
    &.en {
        min-width: 120px;
        left: -95px;
    }

    &.ja {
        min-width: 180px;
        left: -155px;
    }

    &.zh_hant {
        min-width: 150px;
        left: -125px;
    }
}

.dropdown-item {
    padding-left: 5px;
    cursor: pointer;
}

.blog-catagory-travel {
    &.active {
        color: dodgerblue !important;

        &::before {
            content: "\261B";
        }
    }
}

.blog-catagory-language {
    &.active {
        color: dodgerblue !important;
        
        &::before {
            content: "\261B";
        }
    }
}

.blog-subscribe {
    &::after {
        content: url($commonImgPath + 'email.svg');;
    }

    &.active {
        color: dodgerblue !important;
        
        &::before {
            content: "\2735";
        }
    }
}

.blog-about {
    left: 60px;

    &::after {
        content: url($commonImgPath + 'account_box.svg');
    }

    &.active {
        color: dodgerblue !important;
        
        &::before {
            content: "\2735";
        }
    }
}

// Extra small devices
@media (max-width: 575.98px) {
    .blog-header-logo {
        font-size: 1.2rem;
    }

    .display-4 {
        font-size: 3rem;
    }

    .h-md-250 {
        height: 250px;
    }

    .blog-subscribe {
    }

    .blog-about {
        left: 60px;
    }
}